{% extends 'base.html' %}
{% block title %}Sign Up - tech.fyi{% endblock %}
{% block content %}
  <div style="padding-right: 10%; padding-left: 10%;">
	<h2>Admin Approval</h2>

	<h4>Full-Time Posts</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Base Salary</th>
        <th scope="col">Stock</th>
        <th scope="col">Bonus</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Description</th>
        <th scope="col">Approve</th>
      </tr>
    </thead>
    <tbody>
  
      {% for n in ft_data %}
              <tr>
                <td>{{ n['cname'] }}</td>
                <td> {{ n['city'] }}</td>
                <td> {{ n['state'] }} </td>
                <td> {{ n['base'] }} </td>
                <td> {{ n['stock'] }} </td>
                <td> {{ n['bonus'] }} </td>
                <td> {{ n['timestamp'] }} </td>
                <td> {{ n['description'] }} </td>
                <td> <form method="POST" action="/admin"> <input type="text" name="pid" type="hidden" value="{{ n['pid'] }}" /> <input type="text" name="type" type="hidden" value="ft" /> <button>yes</button></form> </td>
              </tr>
  
      {% endfor %}
      </tbody>
    </table>
  



  <h4>Intern Posts</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Hourly</th>
        <th scope="col">Bonus</th>
        <th scope="col">Approve</th>
      </tr>
    </thead>
    <tbody>
  
      {% for n in intern_data %}
      <tr>
        <td>{{ n['cname'] }}</td>
        <td> {{ n['city'] }}</td>
        <td> {{ n['state'] }} </td>
        <td> {{ n['hourly'] }} </td>
        <td> {{ n['bonus'] }} </td>
        <td> <form method="POST" action="/admin"> <input type="text" name="pid" type="hidden" value="{{ n['pid'] }}" /> <input type="text" name="type" type="hidden" value="intern" /> <button>yes</button></form> </td>
      </tr>
  
      {% endfor %}
      </tbody>
    </table>

    
</div>


    </div>
{% endblock content %}

