<!doctype html>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body> 
    <script type="text/javascript">
            $(document).ready(function() {
              $(".dropdown-trigger").dropdown();
        });
        $(document).ready(function() {
              $(".dropdown-trigger").dropdown();
        });

    </script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/signup">Sign Up</a></li>
    </ul>
    
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/login">Login</a></li>
      <li class="divider"></li>

    </ul>

    <nav class="light-blue lighten-1">
      <div class="nav-wrapper container">
        <a href="/" id="logo-container" class="brand-logo">tech.fyi</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/companies">Companies</a></li>
          <li><a href="/specializations">Specializations</a></li>
          <li><a href="/internships">Internships</a></li>

          {% if 'username' not in session %}<li><a href="/signup">Sign Up</a></li>{% endif %}
          {%  if 'username' not in session %}<li><a href="/login">Login</a></li>{% endif %}
          {% if 'username' in session %}<li><a href="/logout">Logout</a></li>{% endif %}
          {% if 'username' in session %}<li><a href="/add" id="download-button" class="btn-small waves-effect waves-light red">Add</a></li>{% endif %}
	</ul>
        <ul id="nav-mobile" class="sidenav">
		  <li><a href="/agency-login">Login</a></li>
      {%  if 'username' in session %}<li><a href="/logout">Logout</a></li>{% endif %}
    </ul>
      </div>
    </nav>

    {% if show %}
    <div class="row">
      <div class="col s12" style="padding-left: 10%; padding-right:10%;">
        <div class="card-panel {{color}}">
          <span class="white-text">{{errorText}}
          </span>
        </div>
      </div>
    </div>
    {% endif %}

    <section class="content">
      
      {% block content %}{% endblock %}
    </section>
    
  
  </body>
</html>

